.buttonsContainer {
  display: flex;
  width: 95%;
  margin-left: 10px;
}

.actionButton {
  border-radius: 0px;
  flex-grow: 1;
  background-color: gainsboro;
  border: 1px solid gainsboro;
  color: black;
  font-weight: 800;
}

.actionButton:hover {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
}
