
.header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 40px;
    text-transform: uppercase;
    vertical-align: middle;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 60px;
    font-weight: 800;
    margin-left: 20px;
  }
  